// Shared variables
@use 'sass:color';

$primary-color: #2af598;
$secondary-color: #00715f;
$text-color: rgb(34, 34, 34);

// Hero
.HeroContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
  margin-top: 50px;
  padding: 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin: 0;
    padding: 10px;
    justify-content: flex-start;
    min-height: min-content;
  }
  @media screen and (max-width: 1024px) {
    min-height: 0;
  }
}

h1 {
  font-size: 4em;
  margin-bottom: 0px;
  color: $text-color;

  @media screen and (max-width: 768px) {
    font-size: 2em;
  }
}

h2 {
  margin-top: 0px;
  font-size: 2em;
  color: rgb(69, 69, 69);

  @media screen and (max-width: 768px) {
    font-size: 1.5em;
  }
}

// About
.AboutContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    margin-top: 0px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 0px;
  }
}

.AboutText {
  text-shadow: 0 0 15px rgb(255, 255, 255);
  -webkit-text-stroke: 0.03px rgb(255, 255, 255, 0.5);
  font-weight: 550;
  color: rgb(37, 37, 37);
  font-size: 1.6em;
  width: 100%;
  text-align: left;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  .AboutText {
    font-size: 1.2em;
    margin-bottom: 0;
    text-align: justify;
  }
  .AboutContainer {
    padding-bottom: 0px;
  }
}

.hoverLink {
  font-weight: 600;
  background-color: #fff;
  color: color.adjust($primary-color, $lightness: -25%);
  text-decoration: none;
}

.hoverLink:hover {
  color: color.adjust($primary-color, $lightness: -15%);
}

#mU {
  color: #e42649 !important;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#mU:hover {
  color: #b31431 !important;
}

#jac {
  color: #1063f1 !important;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#jac:hover {
  color: #0b43a3 !important;
}

#intern {
  color: #0f55ec !important;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#intern:hover {
  color: #0b43a3 !important;
}

#status {
  color: #f811d9 !important;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#status:hover {
  color: #b60fcf !important;
}

#hint {
  color: rgb(2, 182, 98) !important;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#hint:hover {
  color: #117c5a !important;
}

#mU::selection,
#jac::selection,
#intern::selection,
#status::selection,
#hint::selection {
  background-color: #ffffff !important;
}

#mU::selection {
  color: #8e2a3d !important;
}
#jac::selection {
  color: #1454c2 !important;
}
#intern::selection {
  color: #328ef1 !important;
}
#status::selection {
  color: #852794 !important;
}
#hint::selection {
  color: #419b7e !important;
}

// Projects
.ProjectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  gap: 20px;
  color: #f0f0f0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

// Content
.content-container {
  .section-container {
    width: 90%;
    margin: 0 auto;
  }
}
