# Ignore all files in node_modules
node_modules/

# Ignore the build directory
build/

# Ignore specific TypeScript files
src/components/CustomComponent.tsx
src/utils/helperFunctions.ts

# Ignore all TypeScript definition files
*.d.ts
