/* Colour Variables */
$primary-color: #2af598;
$secondary-color: #00715f;
$tertiary-color: #33b072;
$quaternary-color: #19621d;
$background-color: #f9fbf7;
$text-color: #1c2211;
$font-color: #61665b;

/* Page styling */
body {
  overflow-y: hidden;
}

/* Hero Container */
.HeroContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $background-color;
  color: $text-color;
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

/* Left Container */
.LeftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 160px 40px 60px 40px; /* top, right, bottom, left */

  @media (min-width: 768px) {
    flex: 0 0 45%;
  }

  @media (max-width: 768px) {
    flex: 0 0 25%;
    padding-left: 40px;
    padding-top: 15px;
  }
}

/* Right Container */
.RightContainer {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -110px;

  @media (min-width: 768px) {
    flex: 0 0 55%;
    margin-left: 50px;
  }

  @media (max-width: 768px) {
    flex: 0 0 75%;
  }
}

/* Text Styling */
.HeroText {
  display: inline-block;
}

.AnimatedText {
  background: linear-gradient(
    90deg,
    $primary-color,
    $secondary-color,
    $tertiary-color,
    $quaternary-color
  );
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 8em;
  margin-bottom: -0.3em;
}

p {
  font-size: 2.5em;
  padding-top: 0px;
  font-weight: 600;
  color: $font-color;

  @media (max-width: 768px) {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
    margin-bottom: -0.1em;
  }
}
