/* Colour Variables */
$primary-color: #2af598;
$secondary-color: #00715f;
$tertiary-color: #33b072;
$quaternary-color: #95b9b0;
$background-color: #262f2aec;
$text-color: #fafff0;
$font-color: #a2aa94;

/* Hero Container */
.HeroContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: $text-color;
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (max-width: 1200px) {
    flex-direction: row;
  }

  @media (max-width: 430px) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 430px) and (max-width: 600px) {
    flex-direction: column;
  }

  @media (min-width: 1200px) and (max-width: 1920px) {
    flex-direction: row;
  }
}

/* Left Container */
.LeftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 160px 40px 0px 40px; /* top, right, bottom, left */

  @media (min-width: 768px) {
    flex: 0 0 45%;
  }

  @media (max-width: 768px) {
    flex: 0 0 25%;
    padding-left: 40px;
    padding-top: 15px;
  }

  @media (max-width: 1200px) {
    flex: 0 0 60%;
    padding: 160px 0px 0px 40px;
  }

  @media (max-width: 992px) {
    flex: 0 0 60%;
    padding: 210px 0px 0px 40px;
  }

  @media (max-width: 430px) {
    flex: 0 0 50%;
    padding: 60px 40px 0px 40px;
  }

  @media (min-width: 430px) and (max-width: 600px) {
    flex: 0 0 50%;
    padding: 60px 40px 0px 40px;
  }

  @media (max-width: 414px) {
    flex: 0 0 50%;
    padding: 30px 40px 0px 40px;
  }

  @media (max-width: 375px) {
    flex: 0 0 55%;
    padding: 20px 40px 0px 40px;
  }

  @media (min-width: 1200px) and (max-width: 1800px) {
    flex: 0 0 55%;
    padding: 160px 60px 0px 60px;
  }
}

/* Right Container */
.RightContainer {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -180px;

  @media (min-width: 768px) {
    flex: 0 0 55%;
    margin-left: 50px;
  }

  @media (max-width: 768px) {
    flex: 0 0 75%;
  }

  @media (max-width: 1200px) {
    flex: 0 0 50%;
    margin-left: -100px;
    margin-top: -190px;
  }

  @media (max-width: 430px) {
    flex: 0 0 50%;
    margin-left: 10px;
    margin-top: -210px;
  }

  @media (min-width: 430px) and (max-width: 600px) {
    flex: 0 0 50%;
    margin-left: 10px;
    margin-top: -210px;
  }

  @media (max-width: 390px) {
    flex: 0 0 50%;
    margin-left: 10px;
    margin-top: -190px;
  }

  @media (max-width: 414px) {
    flex: 0 0 50%;
    margin-left: 10px;
    margin-top: -200px;
  }

  @media (max-width: 375px) {
    margin-left: 10px;
    margin-top: -290px;
  }

  @media (max-width: 360px) {
    flex: 0 0 100%;
    margin-left: 10px;
    margin-top: -350px;
  }

  @media (min-width: 1200px) and (max-width: 1800px) {
    flex: 0 0 45%;
    margin-left: -35px;
    margin-top: -200px;
  }
}

/* Text Styling */
.HeroText {
  display: inline-block;
}

.AnimatedText {
  background: linear-gradient(
    90deg,
    $primary-color,
    $secondary-color,
    $tertiary-color,
    $quaternary-color
  );
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 8em;
  margin-bottom: -0.3em;

  @media (min-width: 1200px) and (max-width: 1800px) {
    font-size: 6em;
  }
}

p {
  font-size: 2.5em;
  padding-top: 0px;
  font-weight: 600;
  color: $font-color;

  @media (max-width: 768px) {
    font-size: 1.5em;
  }

  @media (min-width: 1200px) and (max-width: 1800px) {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
    margin-bottom: -0.1em;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 6em;
    margin-bottom: -0.2em;
  }

  p {
    font-size: 2em;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 4.3em;
    margin-bottom: -0.2em;
  }

  p {
    font-size: 1.5em;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 3.1em;
    margin-bottom: -0.2em;
  }

  p {
    font-size: 1.3em;
  }
}

@media (min-width: 430px) and (max-width: 600px) {
  h1 {
    font-size: 3.3em;
    margin-bottom: -0.2em;
  }

  p {
    font-size: 1.3em;
  }
}

@media (max-width: 390px) {
  h1 {
    font-size: 2.9em;
    margin-bottom: -0.2em;
  }

  p {
    font-size: 1.2em;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 2.8em;
    margin-bottom: -0.2em;
  }

  p {
    font-size: 1.3em;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 2.6em;
    margin-bottom: -0.2em;
  }

  p {
    font-size: 1.2em;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 2.5em;
    margin-bottom: -0.2em;
  }

  p {
    font-size: 1.1em;
  }
}
