@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'CommitMono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0d0f;
}

@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMono-400-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMono-400-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMono-700-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMono-700-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #000000e5;
  color: #f0f0f0;
}

:root {
  --main: oklch(0.97 0 0);
  --main-secondary: oklch(97% 0 0);
  --main-foreground: oklch(0.925 0 0);
  --main-muted: oklch(0.96 0 0);
  --main-background: oklch(1 0 0);
  --main-invert: oklch(0.205 0 0);

  --primary: oklch(0 0 0);
  --primary-foreground: oklch(37.1% 0 0);
  --primary-muted: oklch(0.556 0 0);
  --primary-invert: oklch(1 0 0);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
