$primary-color: #2af598;
$secondary-color: #00715f;
$tertiary-color: #33b072;
$quaternary-color: #95b9b0;
$background-color: #262f2aec;
$list-item-color: #2bd4a0;
$text-color: #fafff0;
$font-color: #000000;
$hover-color: #ced4da;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$border-radius: 8px;
$language-item-tint: darken($list-item-color, 30%);
$framework-item-tint: darken($list-item-color, 35%);
$tools-item-tint: darken($list-item-color, 40%);

* {
  box-sizing: border-box;
}

.AboutContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    margin-top: 0px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 0px;
  }
}

.AboutText {
  text-shadow: 0 0 15px rgb(255, 255, 255);
  -webkit-text-stroke: 0.03px rgb(255, 255, 255,0.5);
  font-weight: 550;
  color: rgb(37, 37, 37);
  font-size: 1.6em;
  width: 100%;
  text-align: left;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  .AboutText {
    font-size: 1.2em;
    margin-bottom: 0;
    text-align: justify;
  }
  .AboutContainer{
    padding-bottom: 0px;
  }
}

.hoverLink {
  font-weight: 600;
  background-color: #fff;
  color: darken($primary-color, 25%);
}

.hoverLink:hover {
  color: darken($primary-color, 15%);
}


#cU{
  color: #8e2a3d;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#cU:hover{
  color: #db3453;
}

#jac{
  color: #1454c2;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#jac:hover{
  color: #6797e9;
}

#intern{
  color: #328ef1;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#intern:hover{
  color: #225f9c;
}

#status{
  color: #852794;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#status:hover{
  color: #c11fda;
}

#hint{
  color: #419b7e;
  text-shadow: 0 0 0;
  transition: color 0.1s;
}
#hint:hover{
  color: #2ab387;
}