$primary-color: #2af598;
$secondary-color: #00715f;
$tertiary-color: #33b072;
$quaternary-color: #95b9b0;
$background-color: #262f2aec;
$text-color: #fafff0;
$font-color: #a2aa94;
$hover-color: #ced4da;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$border-radius: 8px;

.AboutContainer {
  padding: 20px;
  margin: 0 auto;
  background-color: $background-color;
  box-shadow: $box-shadow;
}

.AboutTitle {
  font-size: 3rem;
  margin-bottom: 20px;
  color: darken($primary-color, 10%);
  text-align: center;
}

.AboutContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.AboutContent {
  flex: 1;
  margin-right: 20px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: $secondary-color;
}

.Technologies {
  flex: 1;
}

.TechnologiesTitle {
  font-size: 2rem;
  margin-bottom: 30px;
  color: $primary-color;
  text-align: center;
}

.TechList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.TechList li {
  font-size: 1.2rem;
  background-color: lighten($background-color, 10%);
  padding: 12px 20px;
  border-radius: $border-radius;
  color: $text-color;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: $box-shadow;

  &:hover {
    background-color: darken($background-color, 15%);
    transform: scale(1.05);
  }
}

@media screen and (max-width: 768px) {
  .AboutContentContainer {
    flex-direction: column;
  }

  .AboutContent {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
