$primary-color: #2af598;
$secondary-color: #00715f;
$tertiary-color: #33b072;
$quaternary-color: #95b9b0;
$background-color: #262f2aec;
$list-item-color: #2bd4a0;
$text-color: #fafff0;
$font-color: #000000;
$hover-color: #ced4da;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$border-radius: 8px;
$language-item-tint: darken($list-item-color, 30%);
$framework-item-tint: darken($list-item-color, 35%);
$tools-item-tint: darken($list-item-color, 40%);

* {
  box-sizing: border-box;
}

.AboutContainer {
  margin-top: 100px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  justify-self: center;

  @media screen and (max-width: 768px) {
    margin-top: 0px;
  }
}

.AboutText {
  font-weight: 500;
  color: rgb(69, 69, 69);
  font-size: 1.2em;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .AboutText {
    font-size: 1.4em;
  }
}

.hoverLink {
  font-weight: 600;
  color: darken($primary-color, 25%);
}

.hoverLink:hover {
  color: darken($primary-color, 15%);
}
