.navbar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
  z-index: 15;
  align-items: flex-start;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
  }
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;

  &:hover {
    color: #007bff;
  }

  @media screen and (max-width: 768px) {
    font-size: 1em;
  }
}
