.navbar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
  z-index: 15;
  align-items: flex-start;

  @media screen and (max-width: 768px) {
    // no navbar on mobile :)
    display: none;
  }
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;

  &:hover {
    color: #23aa7f;
  }
  &.active {
    color: #23aa7f;
  }
}
