$primary-color: #2af598;
$secondary-color: #00715f;
$tertiary-color: #33b072;
$quaternary-color: #95b9b0;
$background-color: #262f2aec;
$text-color: #fafff0;
$font-color: #a2aa94;
$hover-color: #ced4da;
$footer-background-color: darken($background-color, 10%);
$icon-color: $text-color;

.Footer {
  background-color: rgba(darken($footer-background-color,70%), 0.2);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  text-align: center;
  width: 25%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .FooterIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;

    a {
      color: $icon-color;
      font-size: 1.8rem;
      transition: color 0.3s ease;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .FooterText {
    font-size: 0.9rem;
    color: $font-color;
  }
}
