/* Colour Variables */
$primary-color: #2af598;
$secondary-color: #00715f;
$tertiary-color: #33b072;
$quaternary-color: #95b9b0;
$background-color: #262f2aec;
$text-color: #fafff0;
$font-color: #a2aa94;

.timeline {
  position: relative;
  padding: 20px 0;
  margin-left: 10px;

  @media (max-width: 768px) {
    margin-left: 20px;
  }

  @media (max-width: 430px) {
    margin-left: 15px;
    padding: 10px 0;
  }
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 20px;
}

.timeline-date {
  font-size: 1em;
  color: $font-color;
  margin-bottom: 5px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 0.8em;
  }
}

.timeline-content {
  padding-left: 10px;
  margin-right: 20px; 
  color: $text-color;
  border-left: 2px solid $primary-color;

  h3 {
    font-size: 1.5em;
    margin-bottom: 3px;
    color: darken($primary-color, 20%);

    @media (max-width: 768px) {
      font-size: 1.3em;
    }

    @media (max-width: 430px) {
      font-size: 1.1em;
    }
  }
  p {
    font-size: 1em;
    color: lighten($font-color, 30%);

    @media (max-width: 768px) {
      font-size: 0.9em;
    }

    @media (max-width: 430px) {
      font-size: 0.8em;
    }
  }
}

.timeline-company{
    color: lighten($secondary-color, 10%);
}

.timeline-atsign{
    color: $text-color;
}