$scrollbar-width: 10px;
$scrollbar-track-color: #262f2a;
$scrollbar-thumb-color: #8cbc9158;
$scrollbar-thumb-hover-color: #5f7167;
$background-color: #27302b;

body {
  background-color: $background-color;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover-color;
}
