.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-left: 5%;
  margin-right: 5%;
}

.left-column {
  padding: 10px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.right-column {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .left-column, .right-column {
    position: relative;
    height: auto;
  }
}