body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #FAF9F6; /* CHANGE THIS TO THE BACKGROUND I DECIDE ON */
}

@font-face {
  font-family: 'Inter';
  src: url("Assets/Fonts/Inter-VariableFont_opsz\,wght.ttf") format('truetype');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
