body{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #183a1a6f;
}

::-webkit-scrollbar-track {
    background-color: #183a1a91;
    border-radius: 0px;
}

.portfolio_content {
    align-items: center;
}

.portfolioPage h1 {
    /* user-select: none; */
    display: inline-block;
    font-size: 9.5vh;
    margin-top: 2.5em;
    margin-left: 0.5em;
    margin-bottom: 0;
}

.portfolioPage h2 {
    /* user-select: none; */
    display: inline-block;
    margin-top:0;
    margin-left: 1.7em;
    font-size: 3vh;
    color: #8a8a8a;
}

.svg-container {
    position: relative;
    width: 110%;
    height: 300px;
    margin-bottom: 53.1vh;
}

.svg-container svg {
    position: absolute;
    top: 100%;
    left: -10%; 
}

.portfolio-items {
    padding-bottom: 8vh;
}

.portfolio-root{
    background: linear-gradient(to bottom, #27553D, #19231b) !important;
    margin-left: -0.8vh !important;
    margin-bottom: -1vh;
    width: 200%;
    height: 300%;
}

.card {
    width: 90vh;
    height: 50vh;
    margin: 0 auto;
    margin-left: 100vh;
    margin-bottom: 10vh;
    background-color: #f8fefc;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
    transition: 0.4s ease-in-out;
}

.card:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
    transform: scale(1.01);
}
   
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}
   
.circle {
    padding: 0 4px;
}
   
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
   
.red {
    background-color: #ff605c;
}
   
.yellow {
    background-color: #ffbd44;
}
   
.green {
    background-color: #00ca4e;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card_content h1 {
    font-size: 1.8em;
    font-weight: 700;
    margin: 0.5em 0;
}

.card_content p {
    font-size: 1em;
    font-weight: 300;
    margin: 0.5em 0;
}

.card_content a {
    font-size: 1em;
    text-decoration: none;
    color: #3aa86f;
    font-weight: 500;
}


.card_content {
    display: flex;
    align-items: flex-start;
}

.card_content h1,
.card_content p {
    flex: 1;
    padding-left: 20px;
}
.card_content h1{
    
    font-size: 3.5vh;
}

.card_content p{
    font-size: 2vh;
}

.currentWork_title{
    font-weight: 700;
    margin-left: 8.5vh;
    color:#fff;
    font-size: 4.5vh;
}

.f23_title{
    font-weight: 700;
    margin-left: 180.5vh;
    color:#fff;
    font-size: 4.5vh;
}

.f23_card {
    width: 90vh;
    height: 50vh;
    margin: 0 auto;
    margin-left: 8vh;
    margin-bottom: 10vh;
    background-color: #f8fefc;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
    transition: 0.4s ease-in-out;
}

.f23_card:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
    transform: scale(1.01);
}
   
.f23_tools {
    display: flex;
    align-items: center;
    padding: 9px;
}
   
.f23_circle {
    padding: 0 4px;
}
   
.f23_box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
   
.f23_red {
    background-color: #ff605c;
}
   
.f23_yellow {
    background-color: #ffbd44;
}
   
.f23_green {
    background-color: #00ca4e;
}

.f23_card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.f23_card_content h1 {
    font-size: 1.8em;
    font-weight: 700;
    margin: 0.5em 0;
}

.f23_card_content p {
    font-size: 2vh !important;
    font-weight: 300;
    margin: 0.5em 0;
}

.f23_card_content a {
    font-size: 1em;
    text-decoration: none;
    color: #3aa86f;
    font-weight: 500;
}


.f23_card_content {
    display: flex;
    align-items: flex-start;
}

.f23_card_content h1,
.f23_card_content p {
    flex: 1;
    padding-left: 20px;
}

.f23_card_content p {
    font-size: 1em;
    font-weight: 300;
    margin: 0.5em 0;
}

.divider{
    width: 48.5%;
    height: 0.1vh;
    background-color: #ffffff46;
    border-radius: 24px;
    border-color: #ffffff00;
    margin-left: 3.5vh;
}

.card_content video {
    max-width: 40%;
    height: auto;
    object-fit: cover;
    margin-top: 25px;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.f23_card_content video{
    max-width: 50%;
    margin-left: 3.1vh;
    margin-top:4.5vh;
    border-radius: 12px;
}

.portfolio-image{
    margin-top:2vh;
    margin-bottom: 0vh;
    width: 60%;
}

.subheading{
    font-size: 1.7vh;
    padding-left: 20px;
    margin-top: -1vh;
    color: #395241;
}

@media screen and (max-width: 844px) {
    body{
        overflow-x: hidden;
    }
    .name{
        margin-left: 2.3vh !important;
    }
    .portfolio_content h1{
        margin-left: 1.5vh;
    }
    .portfolio-root{
        margin-left: -0.9vh !important;
        height: 320vh;
        width: 200%;
        margin-top: -41.3vh;
    }
    .svg-container{
        width: 150%;
        margin-bottom: 57.5vh;
    }

    .divider{
        height: 0.3vh;
        margin-left: 2.2vh;
    }
    
    .card {
        width: 40vh;
        height: 60vh;
        margin-left: 3vh;
    }

    .card_content h1,
    .card_content p {
        margin-right:4vh;
    }

    .card_content video {
        max-width:80%;
        margin-left: 2vh;
        margin-top:2.5vh;
        border-radius: 12px;
    }

    .portfolio-image{
        height:15vh;
        border-radius: 12px;
    }

    .currentWork_title{
        font-weight: 700;
        margin-left: 17.8vh;
    }

    .portfolio-image{
        margin-top:3.5vh;
        margin-bottom: 0vh;
        width: 100%;
    }

    .f23_title{
        font-weight: 700;
        margin-left: 17.8vh;
        color:#fff;
        font-size: 4.5vh;
    }
    
    .f23_card {
        width: 40vh;
        height: 60vh;
        margin-left: 3vh;
    }
    .f23_card_content video{
        max-width: 85%;
        margin-left: 3.1vh;
        margin-top:4.5vh;
        border-radius: 12px;
    }
    .f23_card_content p{
        margin-right:4vh;
    }
    .subheading{
        margin-right:4vh;
    }


    .divider{
        width: 91%;
    }
    .svg-container {
        width: 102%; 
        margin-bottom: 52.3vh;
    }
    .portfolio-root{
        width: 104%;
    }
}


