  /* General Resume Div */
  .resumeSection {
    transition: 0.3s;
    width: auto;
    margin: 1% auto;
    margin-top: 1%;
    border-radius: 20px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 18vh;
    margin-top: 1%;
    height: auto;
    color: rgb(64, 124, 64);
}

.pdfDownload {
    border: none;
    outline: none;
    background-color: rgb(97, 172, 97);
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    cursor: none;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px rgb(64, 124, 64);
}
  
.pdfDownload:active {
    transform: translateY(5px);
}

.downloadImage{
    max-width: 20px;
    max-height: 10px;
}

#pdfViewer {
    width: 100%;
    height: 85vh;
    border: none;
    margin: 20px auto; 
    margin-right: 5vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px; 
    overflow: hidden;
}

/* Splitting the page layout */
.container {
    display: flex;
    overflow: hidden;
    align-items: stretch;
}

@media (max-width: 768px) {
    body{
        cursor: default !important;
    }
    #circularcursor{
        display: none;
    }
    .resumeSection:hover {
        cursor: default;
    }
    .pdfDownload:hover,
    .pdfDownload:focus {
        cursor: pointer !important;
    }

    .pdfDownload{
        margin-top: 4%;
    }

    /* Adjusting layout for smaller screens */
    .container {
        flex-direction: column;
    }
    .resumeSection {
        margin-left: 5%;
        margin-right: 5%;
    }
}