/* General Resume Div */
.resumeSection {
    transition: 0.3s;
    margin: 1% auto;
    margin-top: 1%;
    border-radius: 20px;
    background: #62846353;
    border: solid 1px #2c4f29;
    padding: 20px;
    width: 40%;
    height: auto;
    justify-content: left;
    text-align: center; 
}

.resumeSection:hover {
    cursor: none;
    transition: 0.3s;
    background: #1f4c224d;
}

/* Resume buttons */
.pdfDownload {
    appearance: none;
    outline: 0;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: 600;
    color: rgb(27, 67, 44);
    font-size: 15px;
    font-family: arial;
    position: relative;
    transition: all .35s;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.246);
    border-radius: 10px;
    border: 3px solid seagreen;
    margin: 0 auto; 
}

.pdfDownload:hover,
.pdfDownload:focus {
    cursor: none !important;
    background-color: seagreen;
    color: #fff;
}

/* Effect sourced from https://www.sliderrevolution.com/resources/css-button-hover-effects/ */
.pdfDownload:before,
.pdfDownload:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background: seagreen;
    z-index: -1;
    transition: all .25s;
}

.pdfDownload:before {
    opacity: 0.5;
}

.pdfDownload:after {
    transition-delay: 0.2s;
}

.pdfDownload:hover:before,
.pdfDownload:hover:after {
    top: 0;
}
