

body{
    background-color: #20201e;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
p{
    color:#dbdbda;
}
/*

    NAVBAR STYLING

*/
.navbar {
    margin:0;
    padding: 10px;
    width: auto;
    display: flex;
    gap: 25px;
    align-items: center;
}
.navbar .navitem {
    display: block;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
}
.navbar a {
    color: #f2f2f2;
    padding: 15px;
    margin: 0;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    margin: 0;
    transition: 0.5s;
    color: black;
}
.navbar a.active {
    margin: 0;
    transition: 0.3s;
    color: rgb(109, 89, 138);
}
.navbar-icon {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}

/*

    HOME PAGE STYLING

*/
.about {
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 20px;
    background: #42423f;
    border: solid 1px #ffffff;
    padding: 20px; 
    width: 40%;
    height: auto; 
    justify-content: left;
}
.jacHyperLink{
    color: #50bc6a;
    text-decoration: none;
}
.jacHyperLink:hover{
    color: #a7ddb4;
    transition: 0.5s;
}
.aboutHeader{
    color:#f4f4f4;
}
.secretButton {
    appearance: none;
    outline: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    padding: 10px 20px; /* Adjust padding for a more balanced size */
    font-weight: 600;
    color: #fff;
    background-color: #7f71fe;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    margin: 0 auto; /* Center the button horizontally */
}

.secretButton:hover {
    background-color: #9b97c7;
    color: #fff;
}

.secretSection {
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 20px;
    background: #42423f;
    border: 1px solid #ffffff;
    padding: 15px;
    width: fit-content;
    color: #dbdbda;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.secretSection p {
    color: #dbdbda;
}

.revealSecretButton{
    appearance: none;
    outline: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    padding: 10px 20px; /* Adjust padding for a more balanced size */
    font-weight: 600;
    color: #fff;
    background-color: #7f71fe34;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    margin: 0 auto; /* Center the button horizontally */
    margin-left: 6%;
    margin-top: 2%;
}
  
