body{
    background-image: linear-gradient(90deg, #464646 0%, #555555 35%, #616161 100%);
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navbar {
    margin:0;
    padding: 10px;
    background-color: rgba(182, 186, 182, 0.853);
    width: auto;
    display: flex;
    align-items: center;
}


.navbar .navitem {
    display: block;
    height: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: #f2f2f2;
    padding: 15px;
    margin: 0;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    margin: 0;
    transition: 0.5s;
    background-color: #7a7979;
    color: black;
}

.navbar a.active {
    margin: 0;
    transition: 0.3s;
    background-color: rgb(64, 59, 71);
    color: white;
}

.navbar-icon {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}
